<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Código da máquina</th>
        <th>Modelo</th>
        <th>Situação</th>
        <th>Status</th>
      </tr>
    </thead>
    <tr>
      <td>I1NB4</td>
      <td>Thermal ARC 175 C</td>
      <td>
        <p class="font-weight-bold text-success">Em uso</p>
      </td>
      <td>
          <button type="button" class="font-weight-bold btn btn-warning" data-toggle="modal"
            data-target=".bd-example-modal-lg">+info</button>
  
          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">IH24KH</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th>Soldador</th>
                          <th>Tempo de Arco</th>
                          <th>Consumo</th>
                          <th>Corrente</th>
                        </tr>
                      </thead>
                      <tr>
                        <td>Gabriel dos Santos Goes</td>
                        <td>25 minutos</td>
                        <td>234 Kwa/h</td>
                        <td>50 mA</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </td>    </tr>
    <tr>
      <td>I1495H</td>
      <td>Air Liquide AP 90</td>
      <td>
        <p class="font-weight-bold text-success">Em uso</p>
      </td>
      <td>
          <button type="button" class="font-weight-bold btn btn-warning" data-toggle="modal"
            data-target=".bd-example-modal-lg">+info</button>
  
          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">IH24KH</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th>Soldador</th>
                          <th>Tempo de Arco</th>
                          <th>Consumo</th>
                          <th>Corrente</th>
                        </tr>
                      </thead>
                      <tr>
                        <td>Gabriel dos Santos Goes</td>
                        <td>25 minutos</td>
                        <td>234 Kwa/h</td>
                        <td>50 mA</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </td>    </tr>
    <tr>
      <td>IHBQI4</td>
      <td>ESAB IS90</td>
      <td>
        <p class="font-weight-bold text-info">Parada</p>
      </td>
      <td>
          <button type="button" class="font-weight-bold btn btn-warning" data-toggle="modal"
            data-target=".bd-example-modal-lg">+info</button>
  
          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">IH24KH</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th>Soldador</th>
                          <th>Tempo de Arco</th>
                          <th>Consumo</th>
                          <th>Corrente</th>
                        </tr>
                      </thead>
                      <tr>
                        <td>Gabriel dos Santos Goes</td>
                        <td>25 minutos</td>
                        <td>234 Kwa/h</td>
                        <td>50 mA</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </td>    </tr>
    <tr>
      <td>ILMHI5</td>
      <td>Merkle TL 100</td>
      <td>
        <p class="font-weight-bold text-info">Parada</p>
      </td>
      <td>
          <button type="button" class="font-weight-bold btn btn-warning" data-toggle="modal"
            data-target=".bd-example-modal-lg">+info</button>
  
          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">IH24KH</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th>Soldador</th>
                          <th>Tempo de Arco</th>
                          <th>Consumo</th>
                          <th>Corrente</th>
                        </tr>
                      </thead>
                      <tr>
                        <td>Gabriel dos Santos Goes</td>
                        <td>25 minutos</td>
                        <td>234 Kwa/h</td>
                        <td>50 mA</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </td>
    </tr>
    <tr>
      <td>IH24KH</td>
      <td>Lincoln Eletric XLO 12</td>
      <td>
        <p class="font-weight-bold text-danger">Em Manutenção</p>
      </td>

      <td>
        <button type="button" class="font-weight-bold btn btn-warning" data-toggle="modal"
          data-target=".bd-example-modal-lg">+info</button>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">IH24KH</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th>Soldador</th>
                        <th>Tempo de Arco</th>
                        <th>Consumo</th>
                        <th>Corrente</th>
                      </tr>
                    </thead>
                    <tr>
                      <td>Gabriel dos Santos Goes</td>
                      <td>25 minutos</td>
                      <td>234 Kwa/h</td>
                      <td>50 mA</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>