<div class="table-responsive">
  <table class="table">
  <thead class="thead-light">
    <tr>
      <th>Tipo</th>
      <th>Modelo</th>
      <th>Código</th>
	    <th>Situação</th>
    </tr>
  </thead>
  <tr>
    <td>Máquina de Solda</td>
    <td>Thermal ARC 175 C</td>
    <td>I1NB4</td>
	  <td>Parada</td>
	  </tr>
  <tr>
    <td>Máquina de Solda</td>
    <td>Air Liquide AP 90</td>
    <td>I1495H</td>
	  <td>Em uso</td>
  </tr>
  <tr>
    <td>Máquina de Solda</td>
    <td>ESAB IS90</td>
    <td>IHBQI4</td>
	  <td>Em uso</td>
  </tr>
  <tr>
    <td>Máquina de Solda</td>
    <td>Merkle TL 100</td>
    <td>ILMHI5</td>
	  <td>Disponível</td>
  </tr>
  <tr>
    <td>Máquina de Solda</td>
    <td>Lincoln Eletric XLO 12</td>
    <td>IH24KH</td>
	  <td>em manutenção</td>
  </tr>
  </table>
</div>
