<table class="table">
    <thead class="thead-light">
      <tr>
        <th>Ordem de Serviço</th>
        <th>Cliente</th>
        <th>Soldador</th>
        <th>Situação</th>
      </tr>
    </thead>
    <tr>
      <td>234</td>
      <td>ESAB</td>
      <td>Carlos Alberto Lima</td>
      <td>Finalizado</td>
    </tr>
    <tr>
      <td>456</td>
      <td>CSN</td>
      <td>Caíque Morais</td>
      <td>Iniciado</td>
    </tr>
    <tr>
      <td>245</td>
      <td>ESAB</td>
      <td>Rafael de Oliveira</td>
      <td>Iniciado</td>
    </tr>
    <tr>
      <td>290</td>
      <td>Megatubos</td>
      <td>Emerson de Souza</td>
      <td>Cancelado</td>
    </tr>
  </table>