<div class="table-responsive">
    <table class="table">
    <thead class="thead-light">
      <tr>
        <th>CNPJ</th>
        <th>Nome</th>
        <th>Cidade</th>
        <th>Telefone</th>
      </tr>
    </thead>
    <tr>
      <td>32.413.401/0001-03</td>
      <td>ESAB</td>
      <td>Nova Iguaçu</td>
      <td>(21) 7864-7852</td>
      </tr>
    <tr>
      <td>55.768.435/0001-13</td>
      <td>Air Liquide</td>
      <td>São Paulo</td>
      <td>(11) 9544-2476</td>
    </tr>
    <tr>
      <td>72.453.458/0001-05</td>
      <td>Megatubos</td>
      <td>Belo Horizonte</td>
      <td>(31) 5786-2457</td>
    </tr>
    </table>
  </div>
  